<p>contact works!</p>

<!--Contact ssection-->
<section id ="contact">
    <div style="background-color: white";class="container">
      <h1 style="font-size: 40px;color:orange" >Contact</h1>
      <blockquote><p style="color:green;text-align: center";><b>| Get in Touch with us</b></p></blockquote>
      <h3 style="text-align: center;">C O N T  A C T - U S</h3>
      <p style="text-align: center;">ph.no-8790066998</p>
      <p style="text-align: center;">e-mail:bhuvanesh1440@gmail.com</p>
      <p style="text-align: center;"><a href="https://www.facebook.com/abhibus">-. facebook .-</a></p>
      <p style="text-align: center;"><a href="https://www.instagram.com/abhibusindia/">-. instgram .-</a></p>
       <p style="text-align: center;"><a href="https://twitter.com/abhibus">-. twitter .-</a></p>
      
    </div>
  </section>
  <!--End of contact section-->
  
 <router-outlet> 

 </router-outlet>